<%= form_with(model: user) do |form| %>
  <% if user.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% user.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-input form-input--inline">
    <%= form.label :going, "Are you coming?", style: "display: block" %>
    <%= form.check_box :going %>
  </div>

  <div class="form-input form-input--inline">
    <%= form.label :hide_name, "Show your name to others?", style: "display: block" %>
    <%= form.check_box :hide_name, class: "form-check_box" %>
  </div>

  <div class="form-input">
    <%= form.label :name, "Your name (be nice)", style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div class="form-input">
    <%= form.label :partner, "Bringing a friend or partner? (Leave blank if coming alone)", style: "display: block" %>
    <%= form.text_field :partner %>
  </div>
  <div>
    <%= form.submit "Save", class: "button button--input" %>
  </div>
<% end %>
