<div id="<%= dom_id user %>">
  <p>
    <strong>Name:</strong>
    <%= user.name %>
  </p>

  <p>
    <strong>Going:</strong>
    <%= user.going %>
  </p>

  <p>
    <strong>Partner:</strong>
    <%= user.partner %>
  </p>

  <p>
    <strong>Hide name:</strong>
    <%= user.hide_name %>
  </p>

</div>
