<main class="index">
  <header class="header"><marquee><% if @current_user %>Hallo <%= @current_user.name %>! <% end %>Announcement: I have been around the sun 29 times. Great achievement. Let's not celebrate me but all of us. Come early, leave late. Make new friends. Enjoy yourself. Are you still reading this? If so, here's the poem "Erlkoenig" by Johann Wolfgang Goethe: Wer reitet so spät durch Nacht und Wind? Es ist der Vater mit seinem Kind; er hat den Knaben wohl in dem Arm, er fasst ihn sicher, er hält ihn warm. Mein Sohn, was birgst du so bang dein Gesicht? — Siehst Vater, du den Erlkönig nicht? Den Erlkönig mit Kron’ und Schweif? — Mein Sohn, es ist ein Nebelstreif. "Du liebes Kind, komm, geh mit mir! Gar schöne Spiele spiel’ ich mit dir; manch bunte Blumen sind an dem Strand, meine Mutter hat manch gülden Gewand." Mein Vater, mein Vater, und hörest du nicht, was Erlenkönig mir leise verspricht? — Sei ruhig, bleibe ruhig, mein Kind: In dürren Blättern säuselt der Wind. "Willst, feiner Knabe, du mit mir gehn? Meine Töchter sollen dich warten schön; meine Töchter führen den nächtlichen Reihn, und wiegen und tanzen und singen dich ein." Mein Vater, mein Vater und siehst du nicht dort Erlkönigs Töchter am düstern Ort? — Mein Sohn, mein Sohn, ich seh’ es genau: Es scheinen die alten Weiden so grau. "Ich liebe dich, mich reizt deine schöne Gestalt; und bist du nicht willig, so brauch ich Gewalt." Mein Vater, mein Vater, jetzt fasst er mich an! Erlkönig hat mir ein Leids getan! — Dem Vater grauset’s, er reitet geschwind, er hält in den Armen das ächzende Kind, erreicht den Hof mit Mühe und Not; in seinen Armen das Kind war tot.</marquee></header>
  <div class="content">
    <h2 class="large">Auskunft</h2>
    <p>It's my birthday and I want to have a cozy day with all of you. Let's have a few drinks, snacks, and chats out in the green and see what the day brings.</p>
    <p>Please don't bring any gifts!</p>
    <p>Bring your partner or friend if you like instead.</p>
    <p>If it rains, we'll find a bar.</p>
    <p>Let's hyg ourselves.</p>
    <p><i>Check this website from time to time for updated information.</i></p>
    <h3 class="large">Details</h3>
    <dl>
      <dt class="dt">When?</dt>
      <dd class="dd">26.05.23 from 15:00 until we are cold</dd>
      <dt class="dt">Where</dt>
      <dd class="dd">By Christiania (see image below)</dd>
      <dt class="dt">What?</dt>
      <dd class="dd">Drinking, snacking, chit-chatting, sun-bathing, Spikeballing and all other fun things</dd>
      <dt class="dt">Food?</dt>
      <dd class="dd">A few snacks</dd>
      <dt class="dt">Drinks?</dt>
      <dd class="dd">I will have some <i>Wibes</i> (Wine & Beers), but bring a bottle yourself</dd>
    </dl>
    <div>
      <h3 class="large">Location</h3>
     <%= image_tag("location.jpg", alt: "Location Spot.", class: "image") %>
    </div>
     <div class="circle-wrapper">
      <div class="float circle">
        <svg viewBox="0 0 200 200" width="200" height="200">
          <defs>
            <path id="circle"
              d="
                M 100, 100
                m -37, 0
                a 37,37 0 1,1 74,0
                a 37,37 0 1,1 -74,0"/>
          </defs>
          <text font-size="25">
            <textPath xlink:href="#circle">
              26.05.2023-15:00-
            </textPath>
          </text>
        </svg>
      </div>
    </div>
  </div>
  <aside class="aside">
    <h2 class="large">Menschen</h2>
    <% if @current_user %><%= link_to "Update Your Info", user_path(@current_user), class: "button button--input button--mensch" %><% end %>
    <h3><%= @going_users.count %> people going</h3>
    <ul class="ul">
      <% @going_users.each do |user| %>
        <li>
          <% if @current_user && @current_user.id == user.id %>
            <%= link_to @current_user.name, user_path(@current_user) %>
          <% else %>
            <%= (@current_user && @current_user.name == "Jan") || user.hide_name == true ? user.name : user.emoji  %>
          <% end %>
          <% if user.partner && user.partner != "" %>
            <ul class="ul ul--nested">
              <li><%= user.partner %></li>
            </ul>
          <% end %>
        </li>
      <% end %>
    </ul>
    <h3><%= @undecided_users.count %> invited</h3>
    <ul class="ul">
      <% @undecided_users.each do |user| %>
        <li>
          <% if @current_user && @current_user.id == user.id %>
            <%= link_to @current_user.name, user_path(@current_user) %>
          <% else %>
            <%= (@current_user && @current_user.name == "Jan") || user.hide_name == true ? user.name : user.emoji  %>
          <% end %>
        </li>
      <% end %>
    </ul>
  </aside>
  <footer class="footer">
    <h2 class="large white">Guest Book</h2>
    <div id="messages" class="chat white">
      <%= render @messages %>
    </div>
    <% if @current_user %>
    <div class="chat__input">
      <%= turbo_frame_tag "new_message", src: new_message_path, target: "_top" %>
    </div>
    <% end %>
  </footer>

</main>
