<!DOCTYPE html>
<html>
  <head>
    <title>29</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script defer data-domain="29.janschill.de" src="https://nsa.janschill.de/js/plausible.js"></script>
    <%= stylesheet_link_tag "application" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
